body {
   margin: 0px 0px 0px 0px;
   height: 100vh;
   width: 100vw;
   font-family: 'Quattrocento Sans', sans-serif;
}

#container {
    width: 100%;
    height: 100vh;
   
}

/* .headerPicture {
    width: 100%;
    height: 10em;
    background-size: cover;
    background-repeat: no-repeat;

} */

 .meny {
    height: 2em;
    width: 100%;
}

.menyList {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: brown;
    height: 2em;
    list-style: none;
    
           
}

.productMenyList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 2em;
    text-decoration: none;
    color: green;
    font-size: 1em;
    
}

.productMenyList a:active {
    color: green;
}
.productMenyList a:hover {
    color: red;
}
.productImage {
    height: 200px;
    width: 200px;
}
.cardProductImage {
    height: 400px;
    width: 400px;
}


.productContainer {
    height: 200px;
    width: 200px;
    display: flex;
}

.cardProductBox{
    width: 400px;
    height: 400px;
    display: flex;
    
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    
    
}