body {
   margin: 0px 0px 0px 0px;
   height: 100vh;
   width: 100vw;
   font-family: 'Quattrocento Sans', sans-serif;  
   text-align: center;

}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100vw;

}

#header {
    width: 1200px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#headerForCartandLogin {
    width: 1200px;
    display: flex;
    justify-content: flex-end;
}



/* .headerPicture {
    width: 100%;
    height: 10em;
    background-size: cover;
    background-repeat: no-repeat;

} */

 .meny {
    height: 2em;
    /* width: 1200px; */
    background-color: rgb(38, 56, 31);
    display: flex;
    flex-flow: row nowrap;    
    
}

.menyList{
    width: 1200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    
}

.productMeny{
    height: 2em;
    background-color: rgb(38, 56, 31);
    display: flex;
    flex-flow: row nowrap;
   
}

.productMenyList{
    width: 1200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.menyList, .productMenyList li{
    list-style: none;
    font-size: 1em;
    
}
.menyList, .productMenyList, a{
    color: white;
    text-decoration: none;

}

.menyList a:active{
    color: red;
    
}
.menyList a:hover{
    color: white;
}

.productMenyList a:hover{
    color: white;
}
.productMenyList a:active {
    color: red;
}
#logInForm{
    width: 1200px;
    display: flex;
    height: 2em;
    justify-content: center;
}

.content {
    width: 1200px;
    min-height: 100vh;
    padding-top: 2em;
    padding-bottom: 5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    
}

.allProductsCard{
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
    height: 300px;
    width: 250px;
    padding-top: 2em;
    margin-right: 1em;
    margin-bottom: 1em;
}
.productImage{
    display: flex;
    margin: auto;
    width: 100px;
    height: 100px;
}
.cardProductImage {
    display: flex;
    margin: auto;
    height: 200px;
    width: 200px;
    
}

.cardProductBox{
    border: 1px solid black;
    padding-top: 2em;
    display: flex;
    flex-flow: column;
    height: 500px;
    width: 500px;
}

.shoppingCartAllProducts{
    display: flex;
    flex-flow: column;
    height: 400px;
    border: 1px solid black;
    width: 700px;
}

.cartProductBox{
    display: flex;
    flex-flow: row;
}

.cartProductImage{
    height: 30px;
    width: 30px;
}

.delCartItem{
    color: black;
}

.shoppingCartButton a{
    color: black;
}
.shoppingCartAddButton a{
    color: black;
}

#footer{
    display: flex;
    height: 15em;
    width: 100%;
    background-color: rgb(73, 72, 72);
}

 /*.menyList {
    display: flex;
    justify-content: space-around;
    width: 500px;
    background-color: brown;
    height: 2em;
    list-style: none;
    
           
}

.productMenyList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 2em;
    text-decoration: none;
    color: green;
    font-size: 1em;
    width: 500px;
    
}

.productMenyList a:active {
    color: green;
}
.productMenyList a:hover {
    color: red;
}
.productImage {
    height: 200px;
    width: 200px;
} */


/* .button {
    background-color: green;
    width: 5em;
} */


#headerForCartandLogin div {
    float: right;
    line-height: 15px;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.25s;
    margin: 10px;
    color: #666;
}

#headerForCartandLogin div i {
    font-size: 2em;
}

#headerForCartandLogin div:hover {
    color: #000;
    transition: 0.25s;
}

.modal {
    position: fixed; display: flex;
    width: 100%; height: 100vh; z-index: 101;
    background-color: rgba(0, 0, 0, 0.1); 
    justify-content: center;
    align-items: center;
}

.mcontent {
    flex: 1; border-radius: 3px; 
    max-width: 370px; padding: 5px;
    background-color: #2196f3;
}

.mtitle {
    color: #fff; cursor: default;
    padding: 0px 5px 5px 5px; 
}
.mtitle i { float: right; cursor: pointer; transition: 0.25s; font-size: 1.25em; }
.mtitle i:hover { transition: 0.25s; color: #777; }

.mhtml {
    width: 100%; background-color: #fff;
    min-height: 100px; padding: 10px;
    font-size: 0.9em;
}

.mhtml p {
    margin: 0px;
    color: #1616ca;
    padding-bottom: 10px;
}

